/* Global styles */
:root {
  --background: #1e1e2e;
  --accent: #17171f;
  --accent-2: rgb(41, 32, 55);
  --background-light: #fcebf3;
  --accent-light: #f7c4dc;
  --text: #eff1f5;
  --text-light: #1e1e2e;
  --text-link: #78c2ad;
  --text-link-light: #456990;
  --header: 'Josefin Sans', sans-serif; 
  --body: 'Karma', serif;
}

html * {
  transition:500ms;
}

html {
  background-color: var(--background);
}

main {
  padding: 20px 0;
  font-size: 1.1rem;
}
main, footer {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--body);
  font-weight:normal;
  margin:0px;
}

header, footer {
  background-color: var(--accent);
}

body {
  margin:0px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 40px;
}

h1,
h2 {
  font-family: var(--header);
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0.2ch;
}

h1 {
  font-size: 3.0rem;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

p {
  hyphens: auto;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top:2rem;
  padding-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem
}

.navbar__title {
  font-family: var(--header);
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0.2ch;
  display: flex;
  align-items: center;
}

.navbar__menu {
  font-family: var(--header);
  font-size: 1.2rem;
  text-transform: lowercase;
  height:50px;
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: flex-end; /* or center / space-around / flex-end, etc. */
  gap: 0.4rem; /* spacing between items */
}

.navbar__title>a,
.navbar__menu>a {
  color: var(--text);
  text-decoration: none;
}

.navbar__menu>a {
  margin: 0 10px;
}

.navbar__title>a:hover,
.navbar__menu>a:hover {
  color: var(--text-link);
}

/* Gifs */
.gif {
  text-align: center;
}

/* Badge */
.badge {
  background-color: #584966;
  border-radius: 6px;
  font-family: var(--body);
  font-weight: 600;
  font-size: .85rem;
  padding: 0.3em 0.6em 0.2em;
}

.badge__list {
  text-indent: 1rem;
  list-style: none;
  padding: 0;
}

.badge__list>li {
  margin-top: 10px;
}

.badge--item {
  border-radius: 4px;
  font-size: 0.7rem;
  margin-right: 5px;
  padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
  color: var(--text-link);
  text-decoration: none;
}

/* Cards */
.card {
  list-style: none;
  display: flex;
  background-size: 400%;
  padding: 20px;
}

.card__link {
  width: 100%;
  text-decoration: none;
  line-height: 1.4;
  border-radius: 8px;
  color: var(--text);
}

.card__img {
  border-radius: 16px;
}

.card__title {
  margin: 0;
  font-family: var(--body);
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.card__txt {
  font-size: 1rem;
  line-height: 1.5;
  text-indent: 0;
  text-align: center;
  margin: 0.5rem 0 0;
}

.card__link:hover {
  transform: scale(1.05);
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}

/* Button */
.btn {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--text-link);
  border-radius: 8px;
  color: var(--text);
  font: 600 16px var(--body);
  padding: 8px 16px;
  transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
  background-color: var(--text-link);
  color: var(--background);
  cursor: pointer;
}

/* Skills */
.skills {
  margin-top: 8px;
}

.skills__img {
  margin: 8px 4px;
}

/* Items */
.center {
  text-align: center;
}

.pro-img {
  border-radius: 16px;
  margin-top: 10px;
}

/* Footer */
footer {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size:0.9rem;
}

hr {
  height: 4px;
  border:none;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 40%;
}

.footer__link {
  color: var(--text-link);
  text-decoration: none;
}

.footer__heading{
    margin: 0;
    font-size: larger;
    font-weight: bold;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
  margin:0;
}

.footer-row {
  display: block;
  width: 100%;
}

.columns {
  margin: 0 auto;
  justify-content:center;
  max-width: 400px;
  height:120px;
  display: flex;
  justify-content: space-evenly; /* or center / space-around / flex-end, etc. */
  gap: 0.4rem; /* spacing between items */

}

.footer_list {
  display: flex;
  align-items: center;
  height: 25px;
}

.icon {
  display: inline-block;
  max-width: 18px;
  max-height: 18px;
  width:auto;
  height: auto;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.git-icon {
  content: url("/images/github-mark-white.svg");
}

.mail-icon {
  content: url("/images/mail-white.svg");
}

.linked-in {
  content: url("/images/li-in-white.png");
}

/* 404 */
.lost {
  margin-top: 30%;
  text-align: center;
}

.lost__header {
  margin: 0 auto;
  text-align: center;
  border: 0;
  font-size: 7.5rem;
  letter-spacing: 10px;
}

.lost__body {
  color: #5C5B77;
}

.lost__link {
  color: var(--text-link);
  text-decoration: none;
}

/* Theme Icon */

html.light {
  background-color: var(--background-light);
}

.light main, .light footer {
  background-color: var(--background-light);
  color: var(--text-light);
}

.light header, .light footer {
  background-color: var(--accent-light);
}

.light .navbar__title>a, .light .navbar__menu>a {
  color: var(--text-light);
}

.light .navbar__title>a:hover,
.light .navbar__menu>a:hover {
  color: var(--text-link-light);
}

.light .card__title {
  color: var(--text-light);
}

.light .card__txt {
  color: var(--text-light);
}

.light .btn {
  color: var(--text-light);
  border-color: var(--text-link-light);
  color: var(--text-light);
}

.light .btn:hover {
  color: var(--background-light);
  background-color: var(--text-link-light);
}

.light .icon__link {
  border: 2px solid var(--text-light);
}

.light .icon__link:hover {
  border-color: var(--text-link);
}

.light .git-icon {
  content: url("/images/github-mark.svg");
}

.light .mail-icon {
  content: url("/images/mail.svg");
}

.light .linked-in {
  content: url("/images/li-in.png");
}

.light .badge__link {
  color: var(--text-link-light);
}

.light .footer__link {
  color: var(--text-link-light);	
}

.light .icon__link:hover {
  border-color: var(--text-link-light);
}

/* Media Query */
@media only screen and (max-width: 800px) {
  body {
    min-width: 360px;
  }

  h1, h2 {
    text-align: center;
  }

  .navbar {
    display: initial;
  }

  .navbar__title {
    text-align: center;
    margin-top:1.5rem;
    margin-bottom:0.5rem;
  }

  .navbar__menu {
    justify-content: space-around; /* or center / space-around / flex-end, etc. */

  }

  .navbar__menu>a {
    margin: 0 11px;
  }

  .skills__img {
    height: 30px;
    width: 30px;
    margin: 8px 1px;
  }

  .badge__list {
    font-size: 0.9rem;
    text-indent: 0;
  }

  .pro-img {
    height: auto;
    width: 350px;
  }
}
