---
import Layout from '../layouts/Layout.astro';
const pageTitle = "CV | Nathan Wu";
---
<Layout pageTitle={pageTitle}>
    <div class="center">
        <h1>Curriculum Vitae</h1>
        <p>It may be necessary to download the PDF to view all pages, especially on mobile devices. </p>
        <a href="/files/Wu_Nathan_CV.pdf" target="_blank"><button class="btn">Download</button></a>
        <iframe class="cv" src="/files/Wu_Nathan_CV.pdf"></iframe>
    </div>
</Layout>