---
import Layout from '../layouts/Layout.astro';
const pageTitle = "CV | Nathan Wu";
---
<Layout pageTitle={pageTitle}>
    <div class="center">
    <iframe class="cv" src="/files/Wu_Nathan_CV.pdf"></iframe>
    <a href="/files/Wu_Nathan_CV.pdf" target="_blank"></a><button class="btn">Download</button></a>
    </div>
</Layout>
