---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About | Nathan Wu";
const description = "Nathan Wu is a PhD student in Neuroscience at Harvard University. His interests include computational neuroscience, biophysics, and complex systems.";
---
<Layout pageTitle={pageTitle} description={description}>
    
    <div class="headshot">
        <img src="/images/nathan_wu.jpg" alt="Headshot of Nathan Wu">
    </div>

    <h1>About</h1>
    <p>
        I'm an incoming graduate student at <a href="https://pinphd.hms.harvard.edu/" target="_blank">Harvard's PhD Program in Neuroscience</a>. 
        I'm broadly interested in exploring how complex biological systems organize to robustly support diverse computations.
        I hope to uncover general computational principles that span timescales and systems (both neural and non-neural). Some methods and tools I'm interested in exploring include graph theory, dynamical systems, and recurrent neural networks.
        I'm grateful to be supported by a <a href="https://kempnerinstitute.harvard.edu/education/graduate-fellowship/" target="_blank">Kempner Graduate Fellowship</a>.
    </p>
    <p>
        I graduated with a Bachelor of Science from Yale University in 2024, where I double-majored in Molecular Biophysics & Biochemistry as well as Computer Science.
        While I was there, I studied neural computations in fruit fly motion detection with <a href="https://clarklab.yale.edu/" target="_blank">Damon Clark</a>. 
        I also spent two summers as a visiting student researcher in <a href="https://drmichaellevin.org/" target="_blank">Michael Levin's</a> lab at Tufts University where I studied the self-organization of neuronal cultures on a high-density microelectrode array system.
    </p>

    <p>
        Stay tuned for more updates! This website is still in development :)
    </p>

    <h2>News</h2>
    <p>
        <b>August 2025 </b> - I've completed my internship at MaxWell Biosystems and have moved to Boston to starting my PhD!
    </p>

    <p>
        <b>April 2025 </b> - I committed to Harvard's Program in Neuroscience for my PhD, where I'll be supported by a Kempner Graduate Fellowship (view the announcement <a href="https://kempnerinstitute.harvard.edu/news/kempner-institute-announces-recipients-of-2025-graduate-fellowships/" target="_blank">here</a>). I'm incredibly excited to be part of such an exciting community of scholars, and I'm grateful that I'll be close to family and friends over the next few years :)
    </p>
    
    <p>
        <b>March 2025 </b> - I presented a poster detailing my work on time-reversal symmetry breaking in vision (the aformentioned paper) at <a href="https://www.cosyne.org/" target="_blank">COSYNE</a> 2025 in Montreal.
    </p>

    <p>
        <b>March 2025 </b> - My very first <a href="https://www.pnas.org/doi/10.1073/pnas.2410768122" target = "_blank">paper</a>, titled "Broken time-reversal symmetry in visual motion detection," was published in PNAS (featuring some photos of me hiking in Yosemite)! 
        Many thanks to my PI, Damon Clark, and my co-first author, Baohua Zhou, for their mentorship. Access the PDF <a href="/papers/clark-et-al-broken-time-reversal-symmetry-in-visual-motion-detection.pdf" target="_blank">here</a>.
    </p>

    <p>
        <b>February 2025 </b> - I started an internship at <a href="https://www.mxwbio.com/" target = "_blank">MaxWell Biosystems</a> in Zürich, Switzerland, where I'll be until August.
    </p>

    <p>
        <b>December 2024 </b> - I graduated with a Bachelor of Science from Yale University, where I studied Molecular Biophysics/Biochemistry and Computer Science.
    </p>
    <!-- <div class="center">
        <a href="/cv/">
            <button class="btn">My CV</button>
        </a>
    </div> -->
</Layout>

