---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home | Nathan Wu";
---
<Layout pageTitle={pageTitle}>
    
    <div class="headshot">
        <img src="/images/nathan_wu.jpg" alt="Headshot of Nathan Wu">
    </div>

    <h2>About</h2>
    <p>
        I'm an incoming graduate student and Kempner Graduate Fellow at <a href="https://pinphd.hms.harvard.edu/" target="_blank">Harvard's PhD Program in Neuroscience</a>. 
        I'm broadly interested in exploring how complex biological systems organize to robustly support diverse computations.
        I hope to uncover general computational principles that span timescales and systems (both neural and non-neural). Some methods and tools I'm interested in exploring include graph theory, dynamical systems, and recurrent neural networks.
    </p>
    <p>
        I graduated with a Bachelor of Science from Yale University where I double-majored in Molecular Biophysics & Biochemistry as well as Computer Science.
        While I was there, I studied neural computations in fruit fly motion detection with <a href="https://clarklab.yale.edu/" target="_blank">Damon Clark</a>. 
        I also spent two summers as a visiting student researcher in <a href="https://drmichaellevin.org/" target="_blank">Michael Levin's</a> lab at Tufts University where I studied the self-organization of neuronal cultures on a high-density microelectrode array system.
    </p>
    <div class="center">
        <a href="/cv/">
            <button class="btn">My CV</button>
        </a>
    </div>
</Layout>

