---
import Layout from '../layouts/Layout.astro';
const pageTitle = "News | Nathan Wu";
---
<Layout pageTitle={pageTitle}>
    <h2>News</h2>
    <p>
        <b>April 2025 </b> - I committed to Harvard's Program in Neuroscience for my PhD, where I'll be supported by a Kempner Graduate Fellowship. I'm incredibly excited to be part of such an exciting community of scholars, and I'm grateful that I'll be close to family and friends over the next few years :)
    </p>
    
    <p>
        <b>March 2025 </b> - I presented a poster detailing my work on time-reversal symmetry breaking in vision (the aformentioned paper) at <a href="https://www.cosyne.org/" target="_blank">COSYNE</a> 2025 in Montreal.
    </p>

    <p>
        <b>March 2025 </b> - My very first <a href="https://www.pnas.org/doi/10.1073/pnas.2410768122" target = "_blank">paper</a>, titled "Broken time-reversal symmetry in visual motion detection," was published in PNAS (featuring some photos of me hiking in Yosemite)! 
        Many thanks to my PI, Damon Clark, and my co-first author, Baohua Zhou, for their mentorship. Access the PDF <a href="/papers/clark-et-al-broken-time-reversal-symmetry-in-visual-motion-detection.pdf" target="_blank">here</a>.
    </p>

</Layout>

