---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Resources | Nathan Wu";
---
<Layout pageTitle={pageTitle}>
    <h2>Resources</h2>
    <p>
        Here's a collection of resources and sites that I think are cool and have shaped my scientific thinking over the years. 
        These span computer science, physics, biology, and neuroscience, and are listed approximately in chronological order of when I came across them.
        The first few are things that I first encountered as a middle/high schooler, and some of the last few are things I'm currently still working through!
    </p>
    <p>
        <ul>
            <li><a href="https://playgameoflife.com/" target="_blank">Conway's Game of Life</a></li>
            <li><em><a href=http://selfassemblingbrain.com/" target="_blank">The Self-Assembling Brain</em></a> by Perter Robin Heisinger</li>
        </ul>
    </p>
    

</Layout>

