---
const year = new Date().getFullYear();
---

<!-- <hr> -->

<footer>
    <div class="content">
    <div class="footer-row columns">
        <div class="footer-col footer-col-1">
            <p class="footer__heading">Nathan Wu</p>
            <ul class="social-media-list">
                <li class="footer_list"><span class="icon mail-icon">Email</span><a class="footer__link" href="mailto:nathan_wu@g.harvard.edu" target="_blank">nathan_wu@g.harvard.edu</a></li>
                <li class="footer_list"><span class="icon git-icon">GitHub</span><a class="footer__link" href="https://github.com/nathanhwu" target="_blank">nathanhwu</a></li>
                <li class="footer_list"><span class="icon linked-in">LinkedIn</span><a class="footer__link" href="https://www.linkedin.com/in/nwu/" target="_blank">Nathan Wu</a></li>
            </ul>
        </div>

        <div class="footer-col footer-col-2">
            <p class="footer__heading">Sitemap</p>
            <ul class="social-media-list">
                <li class="footer_list"><a class="footer__link" href="/index">Home</a></li>
                <li class="footer_list"><a class="footer__link" href="/works">Works</a></li>
                <li class="footer_list"><a class="footer__link" href="/posts">Posts</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-row">
        <div class="center">
            <small>Copyright &copy; {year} Nathan Wu. All rights reserved. <br> Built on the <a class="footer__link" href="https://github.com/ttomczak3/Milky-Way">Milky-Way</a> theme by <a class="footer__link" href="https://github.com/ttomczak3">ttomczak</a>.</small>
        </div>
    </div>

    </div>
    
</footer>

