---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';

const { pageTitle, description} = Astro.props;
---
<!DOCTYPE html>
<Head pageTitle={pageTitle} description={description}/>

<html lang="en">
	<body>
        <Header />
        <main>
            <div class="content">
                <slot />
            </div>
        </main>
        <Footer />
	</body>
</html>

